data/output/*
data/cleaning_log
.RData
.RHistory
*/.RData
*/.RHistory
*/*/.RData
*/*/.RHistory
*/*/.Rhistory
.env
.DS_Store
data/.DS_Store
src/vaccination_rate/__pycache__
debug.r 
debugs.r 
debug_2.py 
